<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ruilib.versionupdate">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--未知来源-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application>

        <!--authorities: 主项目的包名.provider 要与代码中的 FileProvider.getUriForFile 一致-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".VUpdateService"/>

    </application>

</manifest>
